# editorconfig.org
root = true

[*]
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.nuspec]
indent_style = space
indent_size = 2

[*.{config,csproj,props,dotsettings,feature,fxcop,js,json,markdown,md,ncrunch*,ndepend,rb,targets,xml,xsd}]
indent_size = 2